{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "container about-container">
  <p>Hi everyone. This web app was made by Dylan Snelgrove and Evelyn Li.
     It allows users to analyze their favorite songs, artists, albums, and playlists.
     Additionally, users can create custom playlists based on selected "seeds" and
     attributes. <br> This website uses the Spotify API, and we thank Spotify for making it
     available for our use. <br> In making this website, we practiced web development,
     developed teamwork skills, and learned AJAX, RESTful API, and flask.
  </p>
</div>
{% endblock %}
