{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Analysis{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "container">
  <div class = "centered-container">
    <div class="formbox">
      <span>Find analysis for...</span>
      <select id="type-selection">
        <option value="track" selected="selected">Songs</option>
        <option value="album">Albums</option>
        <option value="artist">Artists</option>
        <option value="playlist">Playlists</option>
      </select>
      <div class="textbox">
        <input id="analysis-song-entry" type="text" name="query" value="" placeholder="Enter your query">
      </div>
      <button id="analysisform"> Click to Search </button>
    </div>
  </div>
</div>
{% endblock %}
