<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!--<script src="scripts/script.js"></script>-->
  <script src="/static/scripts/test-script.js"></script>
  <title>Spotify Analytics - Analysis</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <div class = "container header-container">
    <h1>Analytics</h1>
  </div>
  <div class = "nav">
    <ul>
      <li>
        <a href=home.html>Home</a>
      </li>
      <li>
        <a href=about.html>About</a>
      </li>
      <li>
        <a href=analysis.html>Analytics</a>
      </li>
      <li>
        <a href=playlist-generator.html>Playlist Generator</a>
      </li>
      <li>
        <a href=contact.html>Contact</a>
      </li>
    </ul>
  </div>
  <div class="formbox">
    <span>Find analysis for...</span>
    <select id="type-selection">
        <option value="retry">Select type</option>
        <option value="track">Songs</option>
        <option value="album">Albums</option>
        <option value="artist">Artists</option>
        <option value="playlist">Playlists</option>
    </select>
    <div class="textbox">
        <input id="analysis-song-entry" type="text" name="query" value="" placeholder="Enter your query">
    </div>
    <button id="analysisform" onclick = "handle_button()"> Click to Search </button>
</div>
<iframe src="" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</body>
</html>
