{% extends "base.html" %}

{% block header %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<table style="width:100%">
    <tr>
        <th>Song Information/Data</th>
        <th>Song Features</th>
    </tr>
    <tr>
        <td>Title: {{ name }}</td>
        <td rowspan="20">
            <div id="graph" data-features = "{{ features2 }}">
            </div>
            <div id="graph2" data-features = "{{ features2 }}">
            </div>
        </td>
    </tr>
    <tr>
        <td>Artist(s): {{ artists }}</td>
    </tr>
    <tr>
        <td>Key: {{ key }}</td>
    </tr>
    <tr>
        <td>Beats per bar: {{ time_signature }}</td>
    </tr>
    {% for feature in features %}
        {% if feature not in removed %}
            <tr>
                <td> {{ feature }}: {{ features[feature] }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}
