{% extends "base.html" %}

{% block header %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-item left-bar">
    <div class="similar-songs">
      <h3>Similar Songs</h3>
      {% for song in similar_songs %}
      <a href="track-{{ song['id'] }}">
        <div class="similar-song-container">
          <iframe src="https://open.spotify.com/embed/track/{{ song['id'] }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
          </iframe>
        </div>
      </a>
      {% else %}
      <p>No similar songs</p>
      {% endfor %}
    </div>
  </div>
  <div class="grid-item basic-data info-box">
    <p class="info-para"><strong>Title:</strong> {{ name }} </p>
    <p class="info-para"><strong>Artist(s):</strong> {{ artists }} </p>
    <iframe src="https://open.spotify.com/embed/track/{{ id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>
  </div>
  <div class="grid-item advanced-data info-box">
    <p class="info-para"><strong>Key:</strong> {{ key }}</p>
    <p class="info-para"><strong>Tempo:</strong> {{ features["tempo"] }} bpm</p>
    <p class="info-para"><strong>Beats per Bar:</strong> {{ time_signature }}</p>
    <p class="info-para"><strong>Duration:</strong> {{ features["duration_ms"]//60000 }}:{{ (features["duration_ms"] % 60000) // 1000 }}</p>
    <p class="info-para"><strong>Average Loudness:</strong> {{ features["loudness"] }} dB</p>
  </div>
  <div class="grid-item graph" data-features="{{ features2 }}">
  </div>
</div>

{% endblock %}
