{% extends "base.html" %}

{% block header %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-item left-bar">
  </div>
  <div class="grid-item basic-data info-box">
    <p class="info-para"><strong>Title:</strong> {{ name }} </p>
    <p class="info-para"><strong>Artist(s):</strong> {{ artists }} </p>
  </div>
  <div class="grid-item advanced-data info-box">
    <p class="info-para"><strong>Key:</strong> {{ key }}</p>
    <p class="info-para"><strong>Tempo:</strong> {{ features["tempo"] }} bpm</p>
    <p class="info-para"><strong>Beats per Bar:</strong> {{ time_signature }}</p>
    <p class="info-para"><strong>Duration:</strong> {{ features["duration_ms"]//60000 }}:{{ (features["duration_ms"] % 60000) // 1000 }}</p>
    <p class="info-para"><strong>Average Loudness:</strong> {{ features["loudness"] }} dB</p>
  </div>
  <div class="grid-item graph" data-features="{{ features2 }}">
  </div>
</div>

{% endblock %}
