p {
  color: white;
}
body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: mediumSeaGreen;
}
.header-container{
  position: relative;
  text-align: center;
  float: clear;
}
.container{
  padding: 20px;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.nav li {
  display: inline-block;
  align: center;
}

.nav a {
  display: block;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: mediumSeaGreen;
}
